<h1>Listing businesses</h1>

<table>
  <tr>
    <th>Business name</th>
    <th>Tfn</th>
    <th>Abn</th>
    <th>Postal addr 1</th>
    <th>Postal addr 2</th>
    <th>Postal addr suburb</th>
    <th>Street addr 1</th>
    <th>Street addr 2</th>
    <th>Street addr suburb</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @businesses.each do |business| %>
  <tr>
    <td><%= business.business_name %></td>
    <td><%= business.tfn %></td>
    <td><%= business.abn %></td>
    <td><%= business.postal_addr_1 %></td>
    <td><%= business.postal_addr_2 %></td>
    <td><%= business.postal_addr_suburb_id %></td>
    <td><%= business.street_addr_1 %></td>
    <td><%= business.street_addr_2 %></td>
    <td><%= business.street_addr_suburb_id %></td>
    <td><%= business.email %></td>
    <td><%= link_to 'Show', business %></td>
    <td><%= link_to 'Edit', edit_business_path(business) %></td>
    <td><%= link_to 'Destroy', business, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Business', new_business_path %>
