<%= form_for(@suburb) do |f| %>
  <% if @suburb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@suburb.errors.count, "error") %> prohibited this suburb from being saved:</h2>

      <ul>
      <% @suburb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :suburb %><br />
    <%= f.text_field :suburb %>
  </div>
  <div class="field">
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </div>
  <div class="field">
    <%= f.label :state_id %><br />
    <%= f.number_field :state_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
